# ignore objects and archives, anywhere in the tree.
*.[oa]
egsa-1.*
esais_input
*.bin
*.esa
*.gesa
*.tmp
*.swp
*.bwt
*a.out
dataset/proteins-10000.fasta
dataset/input-10000.txt
dataset/reads-10000.fastq
tests/
scripts/tmp/
scripts/convert_fasta
